@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  background: black;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}